.info-card {
    background: white;
    padding: 10px 15px;
    margin-bottom: 12px;
    border-radius: 10px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);
}

.profile-pic {
    position: relative;
    display: inline-block;
    width: 130px;
    height: 130px;
    margin-left: auto;
    margin-right: auto;
}

.profile-picture {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #ccc;
    display: block;
}

.edit-icon {
    position: absolute;
    bottom: 5px;
    right: 5px;
    background-color: #fff;
    border-radius: 50%;
    padding: 6px;
    font-size: 14px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 10;
}
